@media (min-width: 320px) {
  nav {
  	max-width: 90%;
  	margin: auto;
  }
}

.nine {
	max-width: 90%;
	margin: auto;
}

.image-text {
	position: absolute;
	right: 10%;
	top: 25%;
}

.main-list {
	position: relative;
}

ul {
	list-style-type: none;

}

.absolute-class {
	position: absolute;
	right: 50%;
	top: 50%;
}